p {
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
    margin: 0px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    font-family: Roboto, arial;
    background-color: rgb(248, 248, 248);
}
a {
    text-decoration: none;
    color: black;
}