.search-button-,
.voice-button-,
.upload-div-,
.apps-div-,
.noti-div-{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*biiiiiiiiiiiiiiiiiiiiiiiiiiig*/
.search-button- .tooltip-,
.voice-button- .tooltip-, 
.upload-div- .tooltip-,
.apps-div- .tooltip-,
.noti-div- .tooltip-{
    position: absolute;
    bottom: -30px;
    background-color: gray;
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 2px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button-:hover .tooltip-,
.voice-button-:hover .tooltip-,
.upload-div-:hover .tooltip-,
.apps-div-:hover .tooltip-,
.noti-div-:hover .tooltip-{
    opacity: 1;
}


.header-{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(212, 212, 212);
    z-index: 100;
}
.header-left-{
    display: flex;
    align-items: center;
}
.hamburger-{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo-{
    height: 20px;
}


.header-center-{
    margin-left: 60px;
    margin-right: 30px;
    max-width: 470px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
.search-::placeholder{
    padding-left: 2px;
    font-size: 16px;
}
.search-{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0px ;
}

.search-button-{
    height: 40px;
    width: 66px;
    background-color: rgb(245, 245, 245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    margin-left: -1px;
    margin-right: 10px;
}

.search-button-img-{
    height: 25px;
}

.voice-button-{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.voice-button-img-{
    height: 24px;
}


.header-right-{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-img-{
    height: 24px;
}
.apps-img-{
    height: 24px;
}
.noti-img-{
    height: 24px;
}
.noti-num-{
    background-color: rgb(190, 0, 0);
    color: white;
    font-size: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: -2px;
    right: -5px;
}
.current-user-picture{
    height: 32px;
    border-radius: 16px
}